# ==========================
# DATASETS (never commit)
# ==========================
data/
!data/.gitkeep

# ==========================
# MODEL OUTPUTS
# ==========================
outputs/
!outputs/.gitkeep

# ==========================
# PYTHON
# ==========================
.venv/
__pycache__/
*.pyc
